name: Build

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:

    strategy:
      matrix:
        platform:
          # - os_name: Linux-x86_64
          #   os: ubuntu-20.04
          #   target: x86_64-unknown-linux-gnu
          #   bin: printer_watcher_linux
          #   name: Printer-Watcher-Linux-x86_64-gnu.tar.gz
          #   command: build

          - os_name: macOS-aarch64
            os: macOS-latest
            # target: x86_64-apple-darwin
            target: aarch64-apple-darwin
            bin: printer_watcher
            name: Printer-Watcher-Darwin-aarch64.tar.gz
            command: build

          - os_name: Windows-x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: printer_watcher.exe
            name: Printer-Watcher-Windows-x86_64.zip
            command: build

    # env:
    #   COCOON_KEY: ${{ secrets.COCOON_KEY }}

    # MARK: TODO: ffmpeg build: https://github.com/zmwangx/rust-ffmpeg/blob/master/.github/workflows/build.yml

    runs-on:  ${{ matrix.platform.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - run: rustup toolchain install stable --profile minimal
    - name: Cache cargo & target directories
      uses: Swatinem/rust-cache@v2
    - name: Install eframe deps on Linux
      run: sudo apt-get update --yes && sudo apt-get install --yes libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libxkbcommon-dev libssl-dev libgtk-3-dev libxdo-dev
      if: contains(matrix.platform.name, 'Linux')

    - name: Install openssl on macOS
      run: brew install openssl@3
      if: contains(matrix.platform.name, 'Darwin')

    - name: Install GStreamer on macOS
      run: brew install gstreamer gst-plugins-base gst-plugins-good
      if: contains(matrix.platform.name, 'Darwin')

    - name: Setup GStreamer
      id:   setup_gstreamer
      uses: blinemedical/setup-gstreamer@v1.4.0
      if: contains(matrix.platform.name, 'Windows')
      with:
        version: '1.26.1'
        arch: 'x86_64'

    - run: |
        echo $env:GSTREAMER_1_0_ROOT_MSVC_X86_64
      if: contains(matrix.platform.name, 'Windows')

    - name: Build
      uses: houseabsolute/actions-rust-cross@v0.0.12
      with:
        command: ${{ matrix.platform.command }}
        target: ${{ matrix.platform.target }}
        args: "--locked --release"
        strip: true

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Printer-Watcher-${{ matrix.platform.os_name }}-${{ matrix.platform.bin }}
        path: ./target/${{ matrix.platform.target }}/release/${{ matrix.platform.bin }}

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          ./target/${{ matrix.platform.target }}/release/${{ matrix.platform.bin }}

